@font-face {
    font-family: Cascadia-Code;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/CascadiaCode.woff2') format('woff2');
}

* {
    font-family: Cascadia-Code, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #1a2639;
    position: absolute; /* Stay in place */
    overflow: hidden;
}

canvas {
    z-index: 0;
    position: absolute; /* Stay in place */
}

label {
    color: #f0f0f0;
}

h1 {
    color: #f0f0f0;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

/* The side panel menu */
.settingsPanel {
    height: 420px;
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 10px;
    left: 10px;
    background: linear-gradient(to top right, #8A261C, #B2482E);
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding-top: 10px;
    transition: 0.15s;
}

.gameInfo p, a {
    font-size: 16px;
    color: #f0f0f0;
    transition: 0.3s;
}

.inputForm label {
    font-size: 16px;
    float: left;
    display: block;
    transition: 0.3s;
}

.inputForm input[type="number"] {
    float: right;
    height: 11px;
}

.closebtn {
    text-decoration: none;
}

/* The side panel text */
.settingsPanel p {
    margin: 0 0;
}

.settingsPanel .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.jsonBtn, .jsonTextInput, .jsonLoadBtn {
    margin-top: 5px;
    width: 100%;
    border: 0.1em solid #f0f0f0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

.jsonBtn {
    font-size: 15px;
}

.jsonTextInput {
    font-size: 8px;
    visibility: hidden;
}

.jsonLoadBtn {
    margin-top: 0;
    visibility: hidden;
    display: none;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background: linear-gradient(to top right, #8A261C, #B2482E);
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    color: white;
    padding: 9px 16px;
    margin-left: 15px;
    margin-top: 15px;
    border: 0;
}

.openbtn:hover {
    background-color: #444;
}

.orbitBox {
    float: left;
}

.orbitToggle {
    display: inline-block;
}

.updateButton {
    margin-top: 5px;
    width: 100%;
    border: 0.1em solid #f0f0f0;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

input[type="number"] {
    width: 50px;
}

.stopStart, .step, .reset {
    font-size: 15px;
    border: 0.1em solid #f0f0f0;
    border-radius: 0.12em;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

.stopStart:hover, .step:hover, .updateButton:hover, .jsonBtn:hover, .jsonLoadBtn:hover, .reset:hover {
    border-color: #1a2639;
    color: #f0f0f0;
    background-color: #1a2639;
}

.generalInfo, .generalInfo a {
    font-size: 13px;
    color: #f0f0f0;
    margin-top: 5px;
    text-align: center;
}